@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

This is a simple Blazor template running in server mode to show an example user interface. 
Please refer to the README for more information, and the navigation menu to the left to get scoring.
